@use 'sass:math';

// Variables
$hamburger-class-name: 'hamburger' !default;
$hamburger-size: 50px !default;
$hamburger-thickness: 2px !default;
$hamburger-color: #000 !default;
$hamburger-color-hover: $hamburger-color !default;
$hamburger-color-active: $hamburger-color !default;
$hamburger-background: transparent !default;
$hamburger-background-active: $hamburger-background !default;
$hamburger-background-hover: $hamburger-background !default;
$hamburger-background-transition-speed: 0.2s !default;
$hamburger-border-color: transparent !default;
$hamburger-border-width: 0 !default;
$hamburger-opacity: 1 !default;
$hamburger-opacity-hover: 1 !default;
$hamburger-opacity-transition-speed: 0.2s !default;
$hamburger-padding: round($hamburger-size / 10) !default;
$hamburger-border-radius: 0 !default;
$hamburger-bar-border-radius: 0 !default;
$hamburger-bar-spacing: round($hamburger-size / 5) !default;
$hamburger-animation-speed: 1 !default;

// Animation types. Use this as a variable and remove the animations
// you don't need so they won't get compiled in your css.
$hamburger-animations: (
    'apple',
    'arrow',
    'arrow-right',
    'collapse',
    'converge',
    'criss-cross',
    'default',
    'dive',
    'minimal',
    'spin',
    'stack',
    'twist',
    'magnetic',
    'chop',
    'parallel',
    'vertical',
    'push',
    'flatten',
    'simple',
    'shelf'
) !default;

$hamburger-bar-size: $hamburger-size - ($hamburger-padding * 2) - ($hamburger-border-width * 2);
$hamburger-easing: cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$hamburger-easing-in: cubic-bezier(0.55, 0.055, 0.675, 0.19) !default;
$hamburger-easing-out: cubic-bezier(0.215, 0.61, 0.355, 1) !default;

// "Constants"
$root-two: math.sqrt(2);
