/*!
 * delicious-hamburgers
 * @description Beautiful SASS powered hamburger menu toggle buttons
 * @author Kasper Koman
 * @link https://github.com/kapoko/delicious-hamburgers
 */

@import 'base';

@import 'animations/default';
@import 'animations/criss-cross';
@import 'animations/apple';
@import 'animations/arrow';
@import 'animations/arrow-right';
@import 'animations/spin';
@import 'animations/collapse';
@import 'animations/minimal';
@import 'animations/dive';
@import 'animations/stack';
@import 'animations/converge';
@import 'animations/twist';
@import 'animations/magnetic';
@import 'animations/chop';
@import 'animations/parallel';
@import 'animations/vertical';
@import 'animations/push';
@import 'animations/flatten';
@import 'animations/simple';
@import 'animations/shelf';
