<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <base href="{{ .Site.BaseURL }}">
        <title>{{ partial "head/title.html" . }}</title>

        {{ partial "head/favicons.html" . }}
        {{ partial "head/metadata.html" . }}
        {{ partial "head/og.html" . }}
        
        {{ $sass := resources.Get "sass/main.scss" }}
        {{ $options := dict "transpiler" "dartsass" "includePaths" (slice "node_modules") }}
        {{ $style := $sass | resources.ToCSS $options | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

        {{ $defines := dict "process.env.NODE_ENV" `"development"` }}
        {{ $js := resources.Get "js/main.js" | js.Build | resources.Fingerprint }}
        <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
    </head>
    <body>
        {{ $local := resources.Get "sass/main.scss" }}
        <section class="section">
            <header class="container"> 
                {{ partial "header.html" . }}
            </header>
            <main class="container">
                {{ block "above-main" . }}{{ end }}
                {{ block "main" . }}{{ end }}
            </main>
        </section>
        {{ partial "footer.html" . }}
    </body>
</html>