.frame {
    border: 2px #000 solid;
    padding: 3em 5px 2.5em;
    position: relative;
    transition: box-shadow .2s linear;

    h3 {
        @include mobile() {
            font-size: .75em;
        }
    }

    a.info {
        position: absolute;
        top: 0;
        right: 0;
        border-bottom: 0;
        padding: 0.3em 0.6em;
        font-size: 1.2em;
        opacity: 0.2;

        @include desktop() {
            display: none;
        }

        &:hover {
            opacity: 1;
        }

        &:active {
            opacity: .5;
        }
    }

    &:hover {
        a.info {
            @include desktop() {
                display: block;
            }
        }
    }
}

.has-hover-effect {
    @include desktop() {
        &:hover {
            z-index: 10;
            box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.25);
        }
    }
}