header > div {
    margin-bottom: 2em;

    @include desktop() {
        margin-bottom: 3em;
        margin-top: 3em;
    }

    h2 {
        margin-top: -1rem;

        @include desktop() {
            margin-top: -2rem;
        }
    }
}
