$fullhd-enabled: false;
$family-headers: 'Dancing Script', cursive;
$family-sans-serif: 'Montserrat', sans-serif;
$primary: #c2bfb6;
$text: #000;
$section-padding: 1.5rem 1rem;
$body-line-height: 1.9;