{{ define "main" }}

    {{ $testStyles := resources.Get "sass/configuration-test.scss" | toCSS | fingerprint }}
    <link rel="stylesheet" href="{{ $testStyles.Permalink }}"> 

    {{ range $.Site.Data.testConfigurations }}
        {{ $currentConfig := . }}
        <div class="columns">
            <div class="column test-{{ $currentConfig }} has-text-centered">
                <h3 class="mt-sm mb-md">{{ $currentConfig }}</h3>
                {{ range $.Site.Data.burgers }}
                    <button title="{{ .title }}" class="hamburger {{ $currentConfig }} {{ $currentConfig }}--{{ .class }}" type="button">
                        <div class="inner">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </button>                    
                {{ end }}
            </div>
        </div>
    {{ end }}
{{ end }}