.hamburger-toggle.apple {
	> .inner {
		transition: transform .5s $hamburger-easing,
					top .5s $hamburger-easing;
	}

	span.bar {

		&:nth-child(1) {
			top: -$hamburger-bar-offset * .8;
			transition: top .5s $hamburger-easing,
						transform .25s $hamburger-easing;
		}

		&:nth-child(2) {
			display: none;
		}

		&:nth-child(3) {
			top: $hamburger-bar-offset * .8;
			transition: top .5s $hamburger-easing,
						transform .35s $hamburger-easing;
		}
	}

	&.active {

		> .inner {
			transition: transform .35s $hamburger-easing,
						top .25s $hamburger-easing;
			transform: rotate(90deg);
			top: 0;
		}

		span.bar {
			transition: top .5s $hamburger-easing,
						transform .35s $hamburger-easing .15s;

			&:nth-child(1) {
				top: 0;
				transform: rotate(45deg);
			}			

			&:nth-child(3) {
				top: 0;
				transform: rotate(-45deg);
			}
		}
	}
}