.criss-cross {
	span.bar {
		// &:nth-child(1) {
		// 	animation: .8s $hamburger-easing 0s reverse bar-1;
		// }

		// &:nth-child(2) {
		// 	animation: .8s $hamburger-easing .2s reverse bar-2;
		// }

		// &:nth-child(3) {
		// 	animation: .8s $hamburger-easing .1s reverse bar-3;
		// }
	}

	&.active {
		span.bar {
			&:nth-child(1) {
				animation: .8s $hamburger-easing 0s forwards bar-1;
			}

			&:nth-child(2) {
				animation: .8s $hamburger-easing .2s forwards bar-2;
			}

			&:nth-child(3) {
				animation: .8s $hamburger-easing .1s forwards bar-3;
			}
		}
	}
}

@for $i from 1 through 3 {
	@keyframes bar-#{$i} {
		0% {
			width: 100%;
			transform: translate3D(0, 0, 0) rotate(0);
			opacity: 1;

			@if ($i == 1) {
				top: -$hamburger-bar-offset;
			}
			@if ($i == 3) {
				top: $hamburger-bar-offset;
			}
		}
		45% {
			width: 50%; 
			transform: translate3D(-10px, 0, 0) rotate(0);
			opacity: 0;	

			@if ($i == 1) {
				top: -$hamburger-bar-offset;
			}
			@if ($i == 3) {
				top: $hamburger-bar-offset;
			}
		}
		75% {
			opacity: 0;
			width: 0;
			transform-origin: 0 50%;
			left: ($hamburger-bar-size - ($hamburger-bar-size / $ROOT-TWO)) / 2;

			@if ($i == 1) {
				transform: translate3D(0, 0, 0) rotate(45deg);
				top: -($hamburger-bar-size / $ROOT-TWO) / 2;
			}
			@if ($i == 3) {
				transform: translate3D(0, 0, 0) rotate(-45deg);
				top: ($hamburger-bar-size / $ROOT-TWO) / 2;
			}
		}
		100% {			
			opacity: 0;
			width: 100%;
			transform-origin: 0 50%;
			left: ($hamburger-bar-size - ($hamburger-bar-size / $ROOT-TWO)) / 2;

			@if ($i == 1) {
				transform: translate3D(0, 0, 0) rotate(45deg);
				top: -($hamburger-bar-size / $ROOT-TWO) / 2;
				opacity: 1;
			}
			@if ($i == 3) {
				transform: translate3D(0, 0, 0) rotate(-45deg);
				top: ($hamburger-bar-size / $ROOT-TWO) / 2;
				opacity: 1;
			}
		}
	}
}
