@if index($hamburger-animations, minimal) {
    .hamburger--minimal {
        span.bar {
            transition: transform .5s / $hamburger-animation-speed $hamburger-easing,
                        opacity .35s / $hamburger-animation-speed $hamburger-easing .15s / $hamburger-animation-speed;

            &:nth-child(1) {
                top: -$hamburger-bar-spacing * .8;
            }

            &:nth-child(2) {
                display: none;
            }

            &:nth-child(3) {
                top: $hamburger-bar-spacing * .8;
            }
        }

        &.active {
            span.bar {
                transition: transform .5s / $hamburger-animation-speed $hamburger-easing,
                            opacity .35s / $hamburger-animation-speed $hamburger-easing;

                &:nth-child(1) {
                    transform: translate3d(0, $hamburger-bar-spacing * .8, 0);
                }

                &:nth-child(3) {
                    transform: translate3d(0, -$hamburger-bar-spacing * .8, 0);
                    opacity: 0;
                }
            }
        }
    }
}