.hamburger-toggle.stack {
    span.bar {
        transition: transform .4s $hamburger-easing,
                    top .4s $hamburger-easing .4s;

        &:nth-child(1) {

        }

        &:nth-child(2) {

        }

        &:nth-child(3) {

        }
    }

    &.active {
        span.bar {
            transition: transform .4s $hamburger-easing .4s,
                        top .4s $hamburger-easing;

            &:nth-child(1) {
                transform: rotate(45deg);
                top: 0;
            }

            &:nth-child(2) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
                top: 0;
            }
        }
    }
}