@import '../variables';
@import 'arrow';

@if index($hamburger-animations, arrow-right) {
    .#{$hamburger-class-name}--arrow-right {
        span.bar {
            &:nth-child(1) {
                transform-origin: 0 0;
            }

            &:nth-child(2) {
                transform-origin: 100% 0;
            }

            &:nth-child(3) {
                left: 0;
                transform-origin: 0 100%;
            }
        }

        &.active {
            > .inner {
                transform: rotate(-180deg) translate3d(0, -$hamburger-thickness, 0);
            }

            span.bar {
                $scale: 0.4;
                $offset: $hamburger-bar-spacing / $root-two + $hamburger-thickness / 2 / $root-two;

                &:nth-child(1) {
                    transform: rotate(-45deg) scaleX($scale) translate3d(-$offset / $scale, $offset, 0);
                }

                &:nth-child(2) {
                    transform: scaleX(1 - $hamburger-thickness / $hamburger-bar-size);
                }

                &:nth-child(3) {
                    transform: rotate(45deg) scaleX($scale) translate3d(-$offset / $scale, -$offset, 0);
                }
            }

        }
    }
}
