@if index($hamburger-animations, converge) {
    .#{$hamburger-class-name}--converge {
        span.bar {
            transition: transform .4s / $hamburger-animation-speed $hamburger-easing,
                        top .4s / $hamburger-animation-speed $hamburger-easing;
        }

        &.active {
            span.bar {
                top: 0;

                &:nth-child(1) {
                    transform: rotate(135deg);
                }

                &:nth-child(2) {
                    transform: scale(0);
                }
                
                &:nth-child(3) {
                    transform: rotate(-135deg);
                }
            }
        }
    }
}