@if index($hamburger-animations, dive) {
    .#{$hamburger-class-name}--dive {
        span.bar {
            transition: transform 0.4s / $hamburger-animation-speed $hamburger-easing;

            &:nth-child(1) {
                top: 0;
                transform: rotate(0) translate(0, -$hamburger-bar-spacing * 0.8);
            }

            &:nth-child(2) {
                display: none;
            }

            &:nth-child(3) {
                top: 0;
                transform: rotate(0) translate(0, $hamburger-bar-spacing * 0.8);
            }
        }

        &.active {
            span.bar {
                $offset: ($hamburger-bar-spacing * 0.8) / $root-two;

                &:nth-child(1) {
                    transform: rotate(135deg) translate(0, 0);
                }

                &:nth-child(3) {
                    transform: rotate(45deg) translate(0, 0);
                }
            }
        }
    }
}
