@use 'sass:math';
@import '../variables';

@if index($hamburger-animations, parallel) {
    .#{$hamburger-class-name}--parallel {
        span.bar {
            transform: scaleX(1) translate3d(0, 0, 0);
            transition:
                transform 0.2s / $hamburger-animation-speed $hamburger-easing,
                top 0.2s / $hamburger-animation-speed $hamburger-easing;

            &:nth-child(1) {
                top: round(-$hamburger-bar-spacing * 0.8);
            }

            &:nth-child(2) {
                top: round($hamburger-bar-spacing * 0.8);
            }

            &:nth-child(3) {
                display: none;
            }
        }

        &:hover {
            span.bar {
                &:nth-child(1) { 
                    transform: scaleX(0.85) translate3d(15%, 0, 0);
                }

                &:nth-child(2) { 
                    transform: scaleX(0.85) translate3d(-15%, 0, 0);
                }
            }
        }

        &.active {
            span.bar {
                top: 0;
                transition:
                    transform 0.3s / $hamburger-animation-speed $hamburger-easing,
                    top 0.2s / $hamburger-animation-speed $hamburger-easing;

                &:nth-child(1) {
                    transform: rotate(-45deg);
                }

                &:nth-child(2) {
                    transform: rotate(45deg);
                }
            }
        }
    }
}
