@use 'sass:math';
@import '../variables';

@if index($hamburger-animations, simple) {
    .#{$hamburger-class-name}--simple {
        span.bar {
            transition: transform 0.3s / $hamburger-animation-speed $hamburger-easing;

            &:nth-child(1) {
                top: 0;
                transform: translate3d(0, round(-$hamburger-bar-spacing * 0.8), 0);
                
            }

            &:nth-child(2) {
                top: 0;
                transform: translate3d(0, round($hamburger-bar-spacing * 0.8), 0);
            }

            &:nth-child(3) {
                display: none;
            }
        }

        &.active {
            span.bar {
                &:nth-child(1) {
                    transform: rotate(-45deg) translate3d(0, 0, 0);
                }

                &:nth-child(2) {
                    transform: rotate(45deg) translate3d(0, 0, 0);
                }
            }
        }
    }
}
