@import 'variables';

@if index($hamburger-animations, spin) {
    .#{$hamburger-class-name}--spin {
        > .inner {
            transition: transform 0.5s / $hamburger-animation-speed $hamburger-easing;
        }

        span.bar {
            transition:
                transform 0.5s / $hamburger-animation-speed $hamburger-easing,
                top 0.25s / $hamburger-animation-speed $hamburger-easing 0.25s / $hamburger-animation-speed,
                opacity 0.25s / $hamburger-animation-speed $hamburger-easing 0.25s / $hamburger-animation-speed;
        }

        &.active {
            span.bar {
                top: 0;
                transition:
                    transform 0.5s / $hamburger-animation-speed $hamburger-easing,
                    top 0.25s / $hamburger-animation-speed $hamburger-easing,
                    opacity 0.25s / $hamburger-animation-speed $hamburger-easing;

                &:nth-child(1) {
                    transform: rotate(135deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(45deg);
                }
            }

            > .inner {
                transform: rotate(180deg) translate3d(0, -$hamburger-thickness, 0);
            }
        }
    }
}
