@if index($hamburger-animations, twist) {
    .#{$hamburger-class-name}--twist {
        span.bar {
            transition: transform 0.6s / $hamburger-animation-speed $hamburger-easing;

            &:nth-child(1) {
                top: 0;
                transform: translate(0, -$hamburger-bar-spacing);
            }

            &:nth-child(2) {
                opacity: 1;
                transition: opacity 0.2s / $hamburger-animation-speed $hamburger-easing 0.4s / $hamburger-animation-speed;
            }

            &:nth-child(3) {
                top: 0;
                transform: rotate(0) translate(0, $hamburger-bar-spacing);
            }
        }

        &.active {
            span.bar {
                &:nth-child(1) {
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                    transition: opacity 0.3s $hamburger-easing;
                }

                &:nth-child(3) {
                    transform: rotate(-225deg);
                }
            }
        }
    }
}
