@import '../variables';

@if index($hamburger-animations, twist) {
    .#{$hamburger-class-name}--twist {
        $origin-offset: 0.4;
        $offset-factor: 1 - 2 * $origin-offset;
        $offset-y: $hamburger-bar-size / 2 / $root-two * $offset-factor;
        $offset-x: $hamburger-bar-size / 2 * $offset-factor + $offset-y;

        span.bar {
            transition: transform 0.6s / $hamburger-animation-speed $hamburger-easing;

            &:nth-child(1) {
                top: 0;
                transform: rotate(0deg) translate3d(0, -$hamburger-bar-spacing, 0);
            }

            &:nth-child(2) {
                opacity: 1;
                transition: opacity 0.2s / $hamburger-animation-speed $hamburger-easing 0.4s / $hamburger-animation-speed;
            }

            &:nth-child(3) {
                top: 0;
                transform: rotate(0deg) translate3d(0, $hamburger-bar-spacing, 0);
                transform-origin: (100% * $origin-offset) 50%;
            }
        }

        &.active {
            span.bar {
                &:nth-child(1) {
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                    transition: opacity 0.3s $hamburger-easing;
                }

                &:nth-child(3) {
                    transform: rotate(-225deg) translate3d(-$offset-x, -$offset-y, 0);
                }
            }
        }
    }
}
