@if index($hamburger-animations, twist) {
    .hamburger--twist {
        span.bar {
            transition: transform .6s / $hamburger-animation-speed $hamburger-easing,
                        top .6s / $hamburger-animation-speed $hamburger-easing,
                        left .6s / $hamburger-animation-speed $hamburger-easing;

            &:nth-child(1) {
                transform-origin: 0 50%;
                left: 0;
            }

            &:nth-child(2) {
                opacity: 1;
                transition: opacity .2s / $hamburger-animation-speed $hamburger-easing .4s / $hamburger-animation-speed;
            }

            &:nth-child(3) {
            }
        }

        &.active {
            span.bar {
                &:nth-child(1) {
                    transform: rotate(45deg);
                    left: ($hamburger-bar-size - ($hamburger-bar-size / $ROOT-TWO)) / 2;
                    top: -($hamburger-bar-size / $ROOT-TWO) / 2;
                }

                &:nth-child(2) {
                    transition: opacity .2s $hamburger-easing;
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-225deg);
                    top: 0;
                }
            }
        }
    }
}