@import 'variables';

@if index($hamburger-animations, vertical) {
    .#{$hamburger-class-name}--vertical {
        > .inner {
            transition: transform 0.4s / $hamburger-animation-speed $hamburger-easing-out 0.2s / $hamburger-animation-speed;
        }

        span.bar {
            transition:
                transform 0.2s / $hamburger-animation-speed $hamburger-easing,
                top 0.2s / $hamburger-animation-speed $hamburger-easing 0.2s / $hamburger-animation-speed;

            &:nth-child(1) {
                top: -$hamburger-bar-spacing * 0.8;
            }

            &:nth-child(2) {
                display: none;
            }

            &:nth-child(3) {
                top: $hamburger-bar-spacing * 0.8;
            }
        }

        &.active {
            > .inner {
                transform: rotate(90deg) translate3d($hamburger-thickness / 2, -$hamburger-thickness / 2, 0);
                transition: transform 0.4s / $hamburger-animation-speed $hamburger-easing-out;
            }

            span.bar {
                top: 0;
                transition:
                    transform 0.15s / $hamburger-animation-speed $hamburger-easing 0.35s / $hamburger-animation-speed,
                    top 0.15s / $hamburger-animation-speed $hamburger-easing-in 0.25s / $hamburger-animation-speed;

                &:nth-child(1) {
                    transform: rotate(-45deg);
                }

                &:nth-child(3) {
                    transform: rotate(45deg);
                }
            }
        }
    }
}
